body {
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));  
}
.navigation {
    padding: 1em 1em 1em 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
    margin-bottom: 4em;
}
.main-content {
    padding: 0 2em 0 2em;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 3em 3em;
    justify-items: center;
}
.grid {
    display: grid;
}
.item {
    text-align: center;
    max-width: 272px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

.item > img {
    min-height: 380px;
    min-width: 272px;
}
  @media only screen and (max-width: 664px) {
    .main-content {
        grid-template-columns: repeat(1, 2fr);
    }
  }
  